etc/wsdl/TopologyService/xcard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="etc/wsdl/TopologyService/xcard" targetNamespace="http://org.nsi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:vcard-4.0" xmlns:xcard="urn:ietf:params:xml:ns:vcard-4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation xml:lang="en">
            This is an XML schema document describing the xCard XML format as
            defined in RFC 6351.
        </xs:documentation>
    </xs:annotation>
    
    <!-- Root element definitions -->
    <xs:element name="vcards" type="xcard:VcardsType"/>

    <xs:complexType name="VcardsType">
        <xs:sequence>
            <xs:element name="vcard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="uid" type="xcard:uidPropType"/>
                        <xs:element name="prodid" type="xcard:prodidPropType"/>
                        <xs:element name="rev" type="xcard:revPropType"/>
                        <xs:element minOccurs="0" name="categories" type="xcard:categoriesPropType"/>
                        <xs:element name="kind" type="xcard:kindPropType"/>
                        <xs:element name="fn" type="xcard:fnPropType"/>
                        <xs:element minOccurs="0" name="n" type="xcard:nPropType"/>
                        <xs:element minOccurs="0" name="note" type="xcard:notePropType"/>
                        <xs:element minOccurs="0" name="fburl" type="xcard:fburlPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="title" type="xcard:titlePropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="xcard:affiliationPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="url" type="xcard:urlPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="adr" type="xcard:adrPropType"/>
                        <xs:element minOccurs="0" name="nickname" type="xcard:nicknamePropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="related" type="xcard:relatedPropType"/>
                        <xs:element minOccurs="0" name="bday" type="xcard:bdayPropType"/>
                        <xs:element minOccurs="0" name="anniversary" type="xcard:anniversaryPropType"/>
                        <xs:element minOccurs="0" name="photo" type="xcard:photoPropType"/>
                        <xs:element minOccurs="0" name="gender" type="xcard:genderPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="lang" type="xcard:langPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tel" type="xcard:telPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="impp" type="xcard:imppPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="email" type="xcard:emailPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="geo" type="xcard:geoPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="key" type="xcard:keyPropType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="member" type="xcard:memberPropType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Plain Types -->

    <xs:element name="uri" type="xs:anyURI"/>

    <xs:element name="text" type="xs:string"/>

    <xs:simpleType name="DateType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}|\d{4}-\d\d|--\d\d(\d\d)?|---\d\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="date" type="xcard:DateType"/>

    <xs:simpleType name="DateTimeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\d{8}|--\d{4}|---\d\d)T\d\d(\d\d(\d\d)?)?(Z|[+\-]\d\d(\d\d)?)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="date-time" type="xcard:DateTimeType"/>


    <xs:simpleType name="TimeStampType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}T\d{6}(Z|[+\-]\d\d(\d\d)?)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="timestamp" type="xcard:TimeStampType"/>

    <!-- Parameters -->

    <xs:complexType abstract="true" name="BaseParameterType"/>
    <xs:element name="baseParameter" type="xcard:BaseParameterType"/>
    <xs:complexType name="ArrayOfParameters">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="xcard:baseParameter"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType mixed="false" name="TextParameterType">
        <xs:complexContent>
            <xs:extension base="xcard:BaseParameterType">
                <xs:sequence>
                    <xs:element ref="xcard:text"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType mixed="false" name="UriParameterType">
        <xs:complexContent>
            <xs:extension base="xcard:BaseParameterType">
                <xs:sequence>
                    <xs:element ref="xcard:uri"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--  We mix types from different properties here for simplicity  -->
    <xs:simpleType name="TypeValueType">
        <xs:restriction base="xs:token">
            <!--Address-->
            <xs:enumeration value="work"/>
            <xs:enumeration value="home"/>
            <!--Telephone-->
            <xs:enumeration value="text"/>
            <xs:enumeration value="voice"/>
            <xs:enumeration value="fax"/>
            <xs:enumeration value="cell"/>
            <xs:enumeration value="video"/>
            <xs:enumeration value="pager"/>
            <xs:enumeration value="textphone"/>
            <xs:enumeration value="x-car"/>
            <!-- Related -->
            <xs:enumeration value="spouse"/>
            <xs:enumeration value="child"/>
            <xs:enumeration value="x-assistant"/>
            <xs:enumeration value="x-manager"/>
            <!-- Url -->
            <xs:enumeration value="x-blog"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType mixed="false" name="typeParamType">
        <xs:complexContent>
            <xs:extension base="xcard:BaseParameterType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="text" type="xcard:TypeValueType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType mixed="false" name="labelParamType">
        <xs:complexContent>
            <xs:extension base="xcard:TextParameterType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType mixed="false" name="prefParamType">
        <xs:complexContent>
            <xs:extension base="xcard:BaseParameterType">
                <xs:sequence>
                    <xs:element fixed="1" name="integer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType mixed="false" name="xuidParamType">
        <xs:complexContent>
            <xs:extension base="xcard:UriParameterType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- WARNING: don't forget to add those, otherwise the serialization code will not be built and you're up for a long debugging session       -->
    <xs:element name="type" substitutionGroup="xcard:baseParameter" type="xcard:typeParamType"/>
    <xs:element name="label" substitutionGroup="xcard:baseParameter" type="xcard:labelParamType"/>
    <xs:element name="pref" substitutionGroup="xcard:baseParameter" type="xcard:prefParamType"/>
    <xs:element name="x-uid" substitutionGroup="xcard:baseParameter" type="xcard:xuidParamType"/>

    <!-- Properties -->
    <xs:complexType abstract="true" name="BasePropertyType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="xcard:parameters"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="parameters" type="xcard:ArrayOfParameters"/>

    <xs:element name="baseProperty" type="xcard:BasePropertyType"/>

    <xs:element name="fn" substitutionGroup="xcard:baseProperty" type="xcard:fnPropType"/>

    <xs:element name="n" substitutionGroup="xcard:baseProperty" type="xcard:nPropType"/>

    <xs:element name="bday" substitutionGroup="xcard:baseProperty" type="xcard:bdayPropType"/>



    <!-- Properties that take a simple text value -->
    <xs:complexType name="TextPropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element ref="xcard:text"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextListPropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="xcard:text"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NonEmptyTextListPropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="xcard:text"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UriPropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element ref="xcard:uri"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextOrUriPropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="xcard:text"/>
                        <xs:element ref="xcard:uri"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Properties that take a date or date-time value -->
    <xs:complexType name="DateDatetimePropertyType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="xcard:date-time"/>
                        <xs:element ref="xcard:date"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Properties -->

    <xs:complexType name="kindPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="revPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element ref="xcard:timestamp"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="prodidPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="categoriesPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextListPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="fnPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="uidPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="nPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="given" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additional" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="prefix" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="suffix" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="notePropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="fburlPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="titlePropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="affiliationPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element name="org" type="xcard:NonEmptyTextListPropertyType"/>
                    <xs:element minOccurs="0" name="logo" type="xcard:UriPropertyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="xcard:TextPropertyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="related" type="xcard:relatedPropType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="adr" type="xcard:adrPropType"/>
                </xs:sequence>
                <xs:attribute fixed="Affiliation" name="name" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="urlPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="adrPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element name="pobox" type="xs:string"/>
                    <xs:element name="ext" type="xs:string"/>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="locality" type="xs:string"/>
                    <xs:element name="region" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="nicknamePropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextListPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="relatedPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextOrUriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="bdayPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:DateDatetimePropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="anniversaryPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:DateDatetimePropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="photoPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="SexType">
        <xs:restriction base="xs:token">
            <xs:enumeration value=""/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="genderPropType">
        <xs:sequence>
            <xs:element name="sex" type="xcard:SexType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="langPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:BasePropertyType">
                <xs:sequence>
                    <xs:element name="language-tag" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="telPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="imppPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="emailPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:TextPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="keyPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="geoPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="memberPropType">
        <xs:complexContent mixed="false">
            <xs:extension base="xcard:UriPropertyType"/>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
</wsdl:definitions>
