etc/wsdl/ConnectionService/ogf_nsi_services_p2p_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="etc/wsdl/ConnectionService/ogf_nsi_services_p2p_v2_0" targetNamespace="http://org.nsi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.ogf.org/nsi/2013/12/services/point2point" xmlns:tns="http://schemas.ogf.org/nsi/2013/12/services/point2point" xmlns:types="http://schemas.ogf.org/nsi/2013/12/services/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This is an XML schema document describing the OGF NSI point-to-point
            service types.
        </xsd:documentation>
    </xsd:annotation>
    
    <!-- Import the common NSI framework types. -->
    <xsd:import namespace="http://schemas.ogf.org/nsi/2013/12/services/types" schemaLocation="ogf_nsi_services_types_v2_0.xsd"/>
    
    <!-- Element definitions for services types. -->
    <xsd:element name="p2ps" type="tns:P2PServiceBaseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This Point-to-Point Service element is used to specify a generic
                point-to-point service request in the NSI CS protocol.
            </xsd:documentation>
        </xsd:annotation>        
    </xsd:element>
    
    <!-- These are the modifiable parameters within this service. -->
    <xsd:element name="capacity" type="xsd:long">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This element is defined for a modification of the capacity of
                the service.  The unit of capacity is specified in the Service
                Definition associated with the requested service.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="parameter" type="types:TypeValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This element is defined for specifying modification to
                non-specific parameters defined in the Service Definition but
                not in the service specific schema.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <!-- Type definitions for services types. -->
    <xsd:complexType name="P2PServiceBaseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type defining a generic point-to-point service specification.
                At the moment this type supports a unidirectional or
                bidirectional service.
                
                Elements:
                
                capacity - Capacity of the service.
                
                directionality - The (uni or bi) directionality of the service.
                
                symmetricPath - An indication that both directions of a
                bidirectional circuit must follow the same path.  Only
                applicable when directionality is &quot;Bidirectional&quot;.  If not
                specified then value is assumed to be false.
                
                sourceSTP - Source STP identifier of the service.
                
                destSTP - Destination STP identifier of the service.
                
                ero - A hop-by-hop ordered list of STP from sourceSTP to
                destSTP representing a path that the connection must follow.
                This list does not include sourceSTP or destSTP.
                
                parameter - A flexible non-specific parameters definition
                allowing for specification of parameters in the Service
                Definition that are not defined directly in the service
                specific schema.
                
                ##other - For future expansion and extensibility.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="capacity" type="xsd:long"/>
            <xsd:element default="Bidirectional" name="directionality" type="types:DirectionalityType"/>
            <xsd:element minOccurs="0" name="symmetricPath" type="xsd:boolean"/>
            <xsd:element name="sourceSTP" type="types:StpIdType"/>
            <xsd:element name="destSTP" type="types:StpIdType"/>
            <xsd:element minOccurs="0" name="ero" type="types:StpListType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="types:TypeValueType"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  </wsdl:types>
</wsdl:definitions>
